body{
    font-family: "Edu NSW ACT Foundation", cursive;
    font-optical-sizing: auto;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

#intro{
    background-image: url(background.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#logo{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  outline: none;
  position: sticky;
}

#game{
    height: 400px;
    background-image: url(game.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#play_button{
    margin-top: 300px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
}
  
#play_button:hover {
  background-color: #2980b9;
}
  
#play_button:active {
  transform: scale(0.95);
}

#websites{
    height: 400px;
    background-image: url(website.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#open_button{
  margin-top: 300px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.2s;
}
  
#open_button:hover {
  background-color: #2980b9;
}
  
#open_button:active {
  transform: scale(0.95);
}

#motto{
  font-size: 20px;
  margin-top: 200px;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* dynamic styling*/

::-webkit-scrollbar{
width: 15px;
}

::-webkit-scrollbar-track{
background: #d1e5ff;
}

::-webkit-scrollbar-thumb{
background: linear-gradient(#642bff, #ff22e6);
border-radius: 20px;
}

@keyframes typing {
 from { width: 0 }
 to { width: 300px }
}
   
@keyframes blink-caret {
 from, to { border-color: transparent }
 50% { border-color: orange; }
}
