body {
    font-family: "Edu NSW ACT Foundation", cursive;
    font-optical-sizing: auto;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

#logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    outline: none;
    position: sticky;
}

#intro {
    background-image: url(game.jpg);
    margin: 0;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#playt {
    height: 400px;
    background-image: url(tictactoeimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#plays {
    height: 400px;
    background-image: url(snake_game.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#back {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.playgame {
    margin-top: 250px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
}

#motto {
    font-size: 20px;
    margin-top: 200px;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* dynamic styling*/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(7, 0, 211, 1) 100%);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 300px
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

.topic {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s, transform 0.6s;
}

.topic.visible {
    opacity: 1;
    transform: translateY(0px);
}

.topic2 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s, transform 0.6s;
}

.topic2.visible {
    opacity: 1;
    transform: translateY(0px);
}
