body{
    font-family: Arial, sans-serif;
    background-image: url(background.png);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#logo{
    height: 100px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 50%;
}

.converter{
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-image: url(background2.png);
}
  
h1{
  text-align: center;
}
  
input[type="number"], select, button{
  margin: 5px;
  padding: 5px;
  font-size: 16px;
}
  
#result{
  margin-top: 10px;
  font-size: 18px;
}
  

select,
input,
button{
    padding: 10px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

select:hover,
input:hover,
button:hover{
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

button{
    background-color: #4CAF50;
    color: white;
}